<section>
  <div>
    <h2 class="text-4xl font-bold pt-20 pb-10 text-center">Collections</h2>
  </div>
  <div class="flex gap-2 max-h-[500px] h-full justify-between">
    <article class="">
      <div
        class="aspect-[1.5/1] max-h-[300px] rounded-lg bg-white overflow-hidden"
      >
        <img
          class="w-full h-full object-contain"
          src="https://cdn.shopify.com/s/files/1/0631/6815/1720/files/90_mini_mini_desk_lamp_carbon_black_2_2.jpg?v=1700024191"
          alt=""
        />
      </div>
      <div class="text-center">
        <h3 class="text-2xl font-bold mt-2">Features products</h3>
        <p class="text-lg font-semibold">items 8</p>
      </div>
    </article>
    <article class="">
      <div class="aspect-[1.5/1] max-h-[300px] rounded-lg bg-white">
        <img
          class="w-full h-full object-contain"
          src="https://cdn.shopify.com/s/files/1/0631/6815/1720/files/90_mini_mini_desk_lamp_carbon_black_2_2.jpg?v=1700024191"
          alt=""
        />
      </div>
      <div class="text-center">
        <h3 class="text-2xl font-bold mt-2">Features products</h3>
        <p class="text-lg font-semibold">items 8</p>
      </div>
    </article>
    <article class="">
      <div class="aspect-[1.5/1] max-h-[300px] rounded-lg bg-white">
        <img
          class="w-full h-full object-contain"
          src="https://cdn.shopify.com/s/files/1/0631/6815/1720/files/90_mini_mini_desk_lamp_carbon_black_2_2.jpg?v=1700024191"
          alt=""
        />
      </div>
      <div class="text-center">
        <h3 class="text-2xl font-bold mt-2">Features products</h3>
        <p class="text-lg font-semibold">items 8</p>
      </div>
    </article>
  </div>
</section>
