---
import { CollectionsSlider } from '@components_functionals/home/CollectionsSlider'
---

<section>
  <div>
    <h2 class="text-4xl font-bold pt-20 pb-10 text-center">Collections</h2>
  </div>

  <CollectionsSlider client:load />
</section>
