<section
  class="mt-20 bg-base-300 rounded-md h-[85vh] lg:h-[60vh] flex items-center"
>
  <article class="grid lg:grid-cols-2 place-content-center w-full text-center">
    <div class="">
      <img
        src="https://cdn.shopify.com/s/files/1/0631/6815/1720/files/Group1000005037.png?v=1700127846"
        alt=""
      />
    </div>
    <div
      class="lg:row-start-1 grid place-content-center place-items-center gap-4"
    >
      <p class="font-semibold md:text-lg">Work light, LED, White</p>
      <h2 class="text-3xl md:text-5xl font-bold text-pretty">
        Syles Accessories & <br /> New Table Lamp
      </h2>
      <a href="/products" class="btn btn-primary btn-md md:btn-lg md:btn-wide"
        >Show Now</a
      >
    </div>
  </article>
</section>
