<section class='flex flex-col gap-y-4'>
  <h2 class='text-xl font-semibold'>Descripción del producto</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus reiciendis
    quidem veritatis deleniti consequatur. Quibusdam accusamus ut debitis
    molestias. Consectetur magnam aspernatur qui enim nemo, officia distinctio
    hic quaerat quam?
  </p>

  <h3 class='font-semibold'>Características principales</h3>
  <ul class='list-disc pl-5'>
    <li>Descripción</li>
    <li>Descripción</li>
    <li>Descripción</li>
    <li>Descripción</li>
  </ul>
</section>
