---
import { Image } from 'astro:assets'
---

<div class='hidden md:flex gap-x-2 h-full relative'>
  <div class='flex flex-col gap-y-2 pl-2 py-2 justify-between'>
    <div
      class='rounded-md border-[1px] overflow-hidden border-local_background_secondary min-w-[65px] max-w-[65px] min-h-[65px] max-h-[65px]'
    >
      <Image
        width={1}
        height={1}
        class='h-full w-full object-contain'
        src='https://cdn.dribbble.com/userupload/8002232/file/original-3f3260df58d06d1de743f6a33659700b.jpg?resize=752x'
        alt='A bird'
        loading='eager'
      />
    </div>
    <div
      class='rounded-md border-[1px] overflow-hidden border-local_background_secondary min-w-[65px] max-w-[65px] min-h-[65px] max-h-[65px]'
    >
      <Image
        width={1}
        height={1}
        class='h-full w-full object-contain'
        src='https://cdn.dribbble.com/userupload/8002232/file/original-3f3260df58d06d1de743f6a33659700b.jpg?resize=752x'
        alt='A bird'
        loading='eager'
      />
    </div>
    <div
      class='rounded-md border-[1px] overflow-hidden border-local_background_secondary min-w-[65px] max-w-[65px] min-h-[65px] max-h-[65px]'
    >
      <Image
        width={1}
        height={1}
        class='h-full w-full object-contain'
        src='https://cdn.dribbble.com/userupload/8002232/file/original-3f3260df58d06d1de743f6a33659700b.jpg?resize=752x'
        alt='A bird'
        loading='eager'
      />
    </div>
    <div
      class='rounded-md border-[1px] overflow-hidden border-local_background_secondary min-w-[65px] max-w-[65px] min-h-[65px] max-h-[65px]'
    >
      <Image
        width={1}
        height={1}
        class='h-full w-full object-contain'
        src='https://cdn.dribbble.com/userupload/8002232/file/original-3f3260df58d06d1de743f6a33659700b.jpg?resize=752x'
        alt='A bird'
        loading='eager'
      />
    </div>
    <div
      class='rounded-md border-[1px] overflow-hidden border-local_background_secondary min-w-[65px] max-w-[65px] min-h-[65px] max-h-[65px]'
    >
      <Image
        width={1}
        height={1}
        class='h-full w-full object-contain'
        src='https://cdn.dribbble.com/userupload/8002232/file/original-3f3260df58d06d1de743f6a33659700b.jpg?resize=752x'
        alt='A bird'
        loading='eager'
      />
    </div>
    <div
      class='rounded-md border-[1px] overflow-hidden border-local_background_secondary min-w-[65px] max-w-[65px] min-h-[65px] max-h-[65px]'
    >
      <Image
        width={1}
        height={1}
        class='h-full w-full object-contain'
        src='https://cdn.dribbble.com/userupload/8002232/file/original-3f3260df58d06d1de743f6a33659700b.jpg?resize=752x'
        alt='A bird'
        loading='eager'
      />
    </div>
  </div>

  <div class='pr-2'>
    <Image
      width={1}
      height={1}
      class='h-full w-full object-contain'
      src='https://cdn.dribbble.com/userupload/8002232/file/original-3f3260df58d06d1de743f6a33659700b.jpg?resize=752x'
      alt='A bird'
      loading='eager'
    />
  </div>
</div>
