---
import { Image } from 'astro:assets'
---

<div class='md:hidden flex flex-col gap-y-4 h-full'>
  <div class='flex-1 p-2 overflow-hidden'>
    <Image
      width={1}
      height={1}
      class='w-full h-full object-cover'
      src='https://cdn.dribbble.com/userupload/8002232/file/original-3f3260df58d06d1de743f6a33659700b.jpg?resize=752x'
      alt='A bird'
      loading='eager'
    />
  </div>
</div>
