---
import Layout from '@layouts/Layout.astro'
---

<Layout title='Nombre producto'>
  <div class='relative grid grid-cols-2 max-w-7xl mx-auto px-4 xl:p-0 gap-x-4'>
    <section class=''>
      <div>
        
      </div>
    </section>

    <section>
      <div class='sticky top-0 z-10'>fdf</div>
    </section>
  </div>
</Layout>
