---
import CartAllProducts from '@components/all/CartAllProducts.astro'
---

<section class='mx-auto w-full max-w-7xl px-4 xl:p-0'>
  <div class='flex justify-between items-center'>
    <h2 class='text-2xl font-semibold'>Todos los productos</h2>
  </div>

  <div
    id='all__products'
    class='mt-4'
  >
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
    <CartAllProducts />
  </div>

  <div class='my-10 flex items-center justify-center'>
    <button
      class='bg-local_button_tertiary text-local_text_secondary hover:bg-local_button_primary hover:text-local_text_primary rounded-full px-6 py-2 transition-colors font-medium'
      >Ver más productos</button
    >
  </div>
</section>

<style>
  #all__products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
    gap: 1rem;
  }
</style>
