<section
  class='relative max-w-7xl mx-auto px-4 xl:p-0'
  data-carousel='slide'
>
  <!-- Carousel wrapper -->
  <div
    id='container-carousel'
    class='min-h-56 max-h-56 overflow-hidden rounded-sm md:rounded-2xl md:min-h-[500px] md:max-h-[500px] bg-local_background_tertiary'
  >
    <!-- Item 1 -->
    <div
      class=''
      data-carousel-img
    >
      <img
        src='https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg'
        class='min-h-56 w-full bg-center'
        alt='...'
      />
    </div>
    <!-- Item 2 -->
    <div
      class='hidden_img'
      data-carousel-img
    >
      <img
        src='https://www.educaciontrespuntocero.com/wp-content/uploads/2020/04/mejores-bancos-de-imagenes-gratis.jpg'
        class='min-h-56 w-full bg-center'
        alt='...'
      />
    </div>
    <!-- Item 3 -->
    <div
      class='hidden_img'
      data-carousel-img
    >
      <img
        src='https://media.istockphoto.com/id/636379014/es/foto/manos-la-formaci%C3%B3n-de-una-forma-de-coraz%C3%B3n-con-silueta-al-atardecer.jpg?s=612x612&w=0&k=20&c=R2BE-RgICBnTUjmxB8K9U0wTkNoCKZRi-Jjge8o_OgE='
        class='min-h-56 w-full bg-center'
        alt='...'
      />
    </div>
    <!-- Item 4 -->
    <div
      class='hidden_img'
      data-carousel-img
    >
      <img
        src='https://st.depositphotos.com/1016440/2534/i/450/depositphotos_25344733-stock-photo-sunrise-at-the-beach.jpg'
        class='min-h-56 w-full bg-center'
        alt='...'
      />
    </div>
    <!-- Item 5 -->
    <div
      class='hidden_img'
      data-carousel-img
    >
      <img
        src='https://cdn.dribbble.com/userupload/8002232/file/original-3f3260df58d06d1de743f6a33659700b.jpg'
        class='min-h-56 w-full bg-center'
        alt='...'
      />
    </div>
  </div>
  <!-- Slider indicators -->
  <div
    class='absolute z-30 flex md:bottom-5 md:left-[12%] -translate-x-1/2 md:-translate-x-0 md:translate-y-0 -translate-y-1/2 top-[92%] left-1/2 space-x-3 bg-local_background_secondary/20 p-1 rounded-full'
  >
    <button
      type='button'
      class='w-3 h-3 rounded-full bg-white'
      aria-current='true'
      aria-label='Slide 1'
      data-carousel-slide-to='0'
    ></button>
    <button
      type='button'
      class='w-3 h-3 rounded-full bg-white button_img-opacity'
      aria-current='false'
      aria-label='Slide 2'
      data-carousel-slide-to='1'
    ></button>
    <button
      type='button'
      class='w-3 h-3 rounded-full bg-white button_img-opacity'
      aria-current='false'
      aria-label='Slide 3'
      data-carousel-slide-to='2'
    ></button>
    <button
      type='button'
      class='w-3 h-3 rounded-full bg-white button_img-opacity'
      aria-current='false'
      aria-label='Slide 4'
      data-carousel-slide-to='3'
    ></button>
    <button
      type='button'
      class='w-3 h-3 rounded-full bg-white button_img-opacity'
      aria-current='false'
      aria-label='Slide 5'
      data-carousel-slide-to='4'
    ></button>
  </div>
  <!-- Slider controls -->
  <button
    type='button'
    class='absolute top-0 start-0 md:flex items-center justify-center h-full px-4 ml-4 xl:ml-0 hover:bg-local_background_secondary/40 cursor-pointer group hidden md:rounded-l-2xl transition-colors'
    data-carousel-prev
  >
    <span
      class='inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30'
    >
      <svg
        class='w-4 h-4 text-white'
        aria-hidden='true'
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 6 10'
      >
        <path
          stroke='currentColor'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M5 1 1 5l4 4'
        ></path>
      </svg>
      <span class='sr-only'>Previous</span>
    </span>
  </button>
  <button
    type='button'
    class='absolute top-0 end-0 md:flex items-center justify-center h-full px-4 mr-4 xl:mr-0 hover:bg-local_background_secondary/40 cursor-pointer group hidden md:rounded-r-2xl transition-colors'
    data-carousel-next
  >
    <span
      class='inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30'
    >
      <svg
        class='w-4 h-4 text-white'
        aria-hidden='true'
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 6 10'
      >
        <path
          stroke='currentColor'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='m1 9 4-4-4-4'
        ></path>
      </svg>
      <span class='sr-only'>Next</span>
    </span>
  </button>
</section>

<style>
  .hidden_img {
    display: none;
  }

  .button_img-opacity {
    opacity: 0.6;
  }
</style>

<script>
  const $ = (event) => document.querySelector(event)
  const $$ = (event) => document.querySelectorAll(event)

  const containerCarousel = $('#container-carousel')
  const dataCarouselImg = $$('[data-carousel-img]')
  const dataCarouselButton = $$('[data-carousel-slide-to]')
  const dataCarouselPrev = $('[data-carousel-prev]')
  const dataCarouselNext = $('[data-carousel-next]')

  let indexImage = 0

  containerCarousel.addEventListener('touchstart', (e) => {
    console.log('touches', e.touches)
    console.log('targetTouches', e.targetTouches)
    console.log('changedTouches', e.changedTouches)
  })

  containerCarousel.addEventListener('touchend', (e) => {
    console.log('touches', e.touches)
    console.log('targetTouches', e.targetTouches)
    console.log('changedTouches', e.changedTouches)
  })

  dataCarouselNext.addEventListener('click', () => {
    nextImage()
    intervalImage()
    resetCarousel()
    nextButton()
  })

  dataCarouselPrev.addEventListener('click', () => {
    prevImage()
    intervalImage()
    resetCarousel()
    nextButton()
  })

  function nextImage() {
    if (indexImage === dataCarouselImg.length - 1) {
      indexImage = 0
    } else {
      indexImage += 1
    }
  }

  function prevImage() {
    if (indexImage === 0) {
      indexImage = dataCarouselImg.length - 1
    } else {
      indexImage -= 1
    }
  }

  function intervalImage() {
    dataCarouselImg.forEach((item, index) => {
      if (index === indexImage) {
        item.classList.remove('hidden_img')
      } else {
        item.classList.add('hidden_img')
      }
    })
  }

  function nextButton() {
    dataCarouselButton.forEach((item, index) => {
      const numberCarousel = Number(item.dataset.carouselSlideTo)

      if (numberCarousel === indexImage) {
        item.classList.remove('button_img-opacity')
      } else {
        item.classList.add('button_img-opacity')
      }
    })
  }

  dataCarouselButton.forEach((item, index) => {
    const numberCarousel = Number(item.dataset.carouselSlideTo)
    item.addEventListener('click', () => {
      handleClickButtonSelect(numberCarousel)
    })
  })

  function handleClickButtonSelect(numberCarousel) {
    indexImage = numberCarousel

    intervalImage()
    nextButton()

    resetCarousel()
  }

  let intervalCarousel = null

  function startCarousel() {
    intervalCarousel = setInterval(() => {
      indexImage += 1

      if (indexImage === dataCarouselImg.length) {
        indexImage = 0
      }

      intervalImage()
      nextButton()
    }, 3000)
  }

  function resetCarousel() {
    clearInterval(intervalCarousel)
    startCarousel()
  }

  startCarousel()
</script>
