---
import { SearchHome } from './SearchHome'
---

<header
  class='max-w-7xl mx-auto sm:px-4 h-20 flex items-center justify-between text-local_text_primary'
>
  <section>
    <h1 class='text-2xl font-semibold'>ECOMMERCE</h1>
  </section>
  <section class='w-full'>
    <SearchHome client:load />
  </section>
  <section class='flex gap-x-4'>
    <div class='flex items-center gap-x-2'>
      <div>
        <svg
          width='30'
          height='30'
          viewBox='0 0 30 30'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M15 15C12.9375 15 11.1719 14.2656 9.70312 12.7969C8.23437 11.3281 7.5 9.5625 7.5 7.5C7.5 5.4375 8.23437 3.67188 9.70312 2.20313C11.1719 0.734375 12.9375 0 15 0C17.0625 0 18.8281 0.734375 20.2969 2.20313C21.7656 3.67188 22.5 5.4375 22.5 7.5C22.5 9.5625 21.7656 11.3281 20.2969 12.7969C18.8281 14.2656 17.0625 15 15 15ZM0 30V24.75C0 23.6875 0.27375 22.7112 0.82125 21.8212C1.36875 20.9312 2.095 20.2513 3 19.7813C4.9375 18.8125 6.90625 18.0862 8.90625 17.6025C10.9062 17.1187 12.9375 16.8762 15 16.875C17.0625 16.8738 19.0937 17.1162 21.0937 17.6025C23.0937 18.0887 25.0625 18.815 27 19.7813C27.9062 20.25 28.6331 20.93 29.1806 21.8212C29.7281 22.7125 30.0012 23.6888 30 24.75V30H0Z'
            fill='currentColor''
          ></path>
        </svg>
      </div>
      <div>
        <h3 class='font-semibold text-sm'>
          Iniciar <br /> Sesión
        </h3>
      </div>
    </div>
    <div class='flex items-center gap-4'>
      <div>
        <svg
          width='30'
          height='30'
          viewBox='0 0 30 30'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M15 26.25L13.1875 24.625C11.0833 22.7292 9.34375 21.0938 7.96875 19.7188C6.59375 18.3437 5.5 17.1092 4.6875 16.015C3.875 14.9208 3.3075 13.9158 2.985 13C2.6625 12.0842 2.50083 11.1467 2.5 10.1875C2.5 8.22917 3.15625 6.59375 4.46875 5.28125C5.78125 3.96875 7.41667 3.3125 9.375 3.3125C10.4583 3.3125 11.4896 3.54167 12.4688 4C13.4479 4.45833 14.2917 5.10417 15 5.9375C15.7083 5.10417 16.5521 4.45833 17.5313 4C18.5104 3.54167 19.5417 3.3125 20.625 3.3125C22.5833 3.3125 24.2188 3.96875 25.5313 5.28125C26.8438 6.59375 27.5 8.22917 27.5 10.1875C27.5 11.1458 27.3388 12.0833 27.0163 13C26.6938 13.9167 26.1258 14.9217 25.3125 16.015C24.4992 17.1083 23.4054 18.3429 22.0313 19.7188C20.6571 21.0946 18.9175 22.73 16.8125 24.625L15 26.25ZM15 22.875C17 21.0833 18.6458 19.5471 19.9375 18.2662C21.2292 16.9854 22.25 15.8708 23 14.9225C23.75 13.9742 24.2708 13.13 24.5625 12.39C24.8542 11.65 25 10.9158 25 10.1875C25 8.9375 24.5833 7.89583 23.75 7.0625C22.9167 6.22917 21.875 5.8125 20.625 5.8125C19.6458 5.8125 18.7396 6.08833 17.9063 6.64C17.0729 7.19167 16.5 7.895 16.1875 8.75H13.8125C13.5 7.89583 12.9271 7.19292 12.0938 6.64125C11.2604 6.08958 10.3542 5.81333 9.375 5.8125C8.125 5.8125 7.08333 6.22917 6.25 7.0625C5.41667 7.89583 5 8.9375 5 10.1875C5 10.9167 5.14583 11.6513 5.4375 12.3913C5.72917 13.1313 6.25 13.975 7 14.9225C7.75 15.87 8.77083 16.9846 10.0625 18.2662C11.3542 19.5479 13 21.0842 15 22.875Z'
            fill='currentColor'
          ></path>
        </svg>
      </div>
      <div class='flex items-center gap-1'>
        <div>
          <svg
            width='30'
            height='30'
            viewBox='0 0 30 30'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
          >
            <path
              d='M13.75 11.25V7.5H10V5H13.75V1.25H16.25V5H20V7.5H16.25V11.25H13.75ZM8.75 27.5C8.0625 27.5 7.47417 27.2554 6.985 26.7663C6.49583 26.2771 6.25083 25.6883 6.25 25C6.24917 24.3117 6.49417 23.7233 6.985 23.235C7.47583 22.7467 8.06417 22.5017 8.75 22.5C9.43583 22.4983 10.0246 22.7433 10.5163 23.235C11.0079 23.7267 11.2525 24.315 11.25 25C11.2475 25.685 11.0029 26.2738 10.5163 26.7663C10.0296 27.2588 9.44083 27.5033 8.75 27.5ZM21.25 27.5C20.5625 27.5 19.9742 27.2554 19.485 26.7663C18.9958 26.2771 18.7508 25.6883 18.75 25C18.7492 24.3117 18.9942 23.7233 19.485 23.235C19.9758 22.7467 20.5642 22.5017 21.25 22.5C21.9358 22.4983 22.5246 22.7433 23.0163 23.235C23.5079 23.7267 23.7525 24.315 23.75 25C23.7475 25.685 23.5029 26.2738 23.0163 26.7663C22.5296 27.2588 21.9408 27.5033 21.25 27.5ZM1.25 5V2.5H5.34375L10.6562 13.75H19.4062L24.2812 5H27.125L21.625 14.9375C21.3958 15.3542 21.0887 15.6771 20.7037 15.9063C20.3187 16.1354 19.8967 16.25 19.4375 16.25H10.125L8.75 18.75H23.75V21.25H8.75C7.8125 21.25 7.09875 20.8437 6.60875 20.0312C6.11875 19.2187 6.10333 18.3958 6.5625 17.5625L8.25 14.5L3.75 5H1.25Z'
              fill='currentColor'
            ></path>
          </svg>
        </div>
        <div class='flex flex-col w-24'>
          <small>Total</small>
          <p class='text-lg font-semibold truncate'>$0</p>
        </div>
      </div>
    </div>
  </section>
</header>
