---
import CartPopularProduct from '@components/product/CartPopularProduct.astro'
import { Image } from 'astro:assets'
---

<section class='mx-auto w-full max-w-7xl px-4 xl:p-0'>
  <div class='flex justify-between items-center'>
    <h2 class='text-2xl font-semibold'>Productos Populares</h2>

    <div class='flex gap-x-2'>
      <button
        class='bg-local_button_primary rounded-full flex items-center justify-center p-2'
      >
        <svg
          width='20'
          height='20'
          viewBox='0 0 20 20'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M12.5 4.16667L7.5 10L12.5 15.8333'
            stroke='black'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
        </svg>
      </button>
      <button
        class='bg-local_button_primary rounded-full flex items-center justify-center p-2'
      >
        <svg
          width='20'
          height='20'
          viewBox='0 0 20 20'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M7.5 4.16667L12.5 10L7.5 15.8333'
            stroke='black'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
        </svg>
      </button>
    </div>
  </div>

  <div
    id='scroll__popular_products'
    class='flex gap-x-4 items-center h-[360px] overflow-auto'
  >
    <CartPopularProduct />
    <CartPopularProduct />
    <CartPopularProduct />
    <CartPopularProduct />
    <CartPopularProduct />
    <CartPopularProduct />
  </div>
</section>

<style>
  #scroll__popular_products {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
</style>
