<section>
  <div>
    <h2>Noutison 23</h2>
    <p>$ 2000000 COP</p>
  </div>

  <div>
    <h3>Color</h3>

    <div class="flex-1 flex gap-2 overflow-hidden">
      <div class="overflow-hidden rounded-md aspect-square max-h-[6vh]">
        <img
          src="https://cdn.shopify.com/s/files/1/0631/6815/1720/files/a4.jpg?v=1700534466"
          alt=""
        />
      </div>
      <div class="overflow-hidden rounded-md aspect-square max-h-[6vh]">
        <img
          src="https://cdn.shopify.com/s/files/1/0631/6815/1720/files/a4.jpg?v=1700534466"
          alt=""
        />
      </div>

      <div class="overflow-hidden rounded-md aspect-square max-h-[6vh]">
        <img
          src="https://cdn.shopify.com/s/files/1/0631/6815/1720/files/a4.jpg?v=1700534466"
          alt=""
        />
      </div>
      <div class="overflow-hidden rounded-md aspect-square max-h-[6vh]">
        <img
          src="https://cdn.shopify.com/s/files/1/0631/6815/1720/files/a4.jpg?v=1700534466"
          alt=""
        />
      </div>
    </div>
  </div>

  <div>
    <h3>Size</h3>
  </div>

  <button class="btn">Add To Cart</button>

  <div>
    <p>Est. Delivery between 0 - 3 days</p>

    <div class="flex gap-3">
      <p>Payment:</p>
      <div class="flex gap-2">
        <div class="aspect-video max-h-[4vh]">
          <img
            class="w-full h-full"
            src="https://astrofront.vercel.app/images/payment/visa.png"
            alt=""
          />
        </div>
        <div class="aspect-video max-h-[4vh]">
          <img
            class="w-full h-full"
            src="https://astrofront.vercel.app/images/payment/visa.png"
            alt=""
          />
        </div>
        <div class="aspect-video max-h-[4vh]">
          <img
            class="w-full h-full"
            src="https://astrofront.vercel.app/images/payment/visa.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <div>Description and More Info</div>

  <div>
    <h2>Related products</h2>
  </div>
</section>
