<section class="flex flex-col gap-2 h-full">
  <div class="flex-1 max-h-[65vh] h-full overflow-hidden rounded-md">
    <img
      class=""
      src="https://cdn.shopify.com/s/files/1/0631/6815/1720/files/a4.jpg?v=1700534466"
      alt=""
    />
  </div>
  <div class="flex-1 flex gap-2 overflow-hidden">
    <div class="overflow-hidden rounded-md aspect-square max-h-[20vh]">
      <img
        src="https://cdn.shopify.com/s/files/1/0631/6815/1720/files/a4.jpg?v=1700534466"
        alt=""
      />
    </div>
    <div class="overflow-hidden rounded-md aspect-square max-h-[20vh]">
      <img
        src="https://cdn.shopify.com/s/files/1/0631/6815/1720/files/a4.jpg?v=1700534466"
        alt=""
      />
    </div>

    <div class="overflow-hidden rounded-md aspect-square max-h-[20vh]">
      <img
        src="https://cdn.shopify.com/s/files/1/0631/6815/1720/files/a4.jpg?v=1700534466"
        alt=""
      />
    </div>
    <div class="overflow-hidden rounded-md aspect-square max-h-[20vh]">
      <img
        src="https://cdn.shopify.com/s/files/1/0631/6815/1720/files/a4.jpg?v=1700534466"
        alt=""
      />
    </div>
  </div>
</section>
