---
import Layout from '@layouts/Layout.astro'
import Details from '@sections/products/Details.astro'
import SliderProducts from '@sections/products/SliderProducts.astro'
---

<Layout>
  <div class="flex w-[200%]">
    <div class="w-1/2">a</div>
    <div class="w-1/2">a</div>
  </div>
  <!-- <SliderProducts /> -->
  <!-- <Details /> -->
  <!-- <Information /> -->
  <!-- <Description /> -->
  <!-- <RelatedProducts /> -->
</Layout>
