---
import Container from '@components/general/Container.astro'
import Footer from '@sections/general/Footer.astro'
import Header from '@sections/general/Header.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />

    <Container element="main" className="pt-[120px] lg:pt-[71px] relative">
      <slot />
    </Container>

    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
